:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-style: normal;
  min-height: 100vh;
  background-image: url('./assets/pixabay-314726.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-weight: 500;
  color: #5f9bb6;
}
ul,
ol {
  list-style: none;

  padding: 0;
  margin: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
label {
  margin: 0;
  padding: 0;
}
input[type='text'] {
  width: 100%;
}
/* form {
  width: 97%;
} */
input {
  outline: none;
  width: 100%;
  padding: 10px 10px 10px 30px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #5f9bb6;
  }
  button {
    background-color: #f9f9f9;
  }
}
