.loadMore {
  display: inline-flex;
  padding: 8px 16px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  width: 125px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 44px;
  transform: translate(-50%);
  border-radius: 8px;
  border: 1px solid transparent;
  background: black;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}
.loadMore:hover,
.load-More:focus {
  background: #5f9bb6;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
